*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --bg-color:#ffffff;
    --secound-bg-color: #f9f9f9;
    --text-color:#fff;
    --secound-color: #161616;
    --main-color: purple;
    --other-color: #6a6a6a;
    --big-font: 5.7rem;
    --h2-font: 3.8rem;
    --p-font: 1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    top:0;
    right:0;
    width:100%;
    z-index: 1000;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 15px 6%;
}
.logo{
    font-size: 1.9rem;
    font-weight: 600;
    color: var(--text-color);
    font-family: 'Nerko one';
    
}
span{
    color: var(--main-color);
    font-family: 'Nerko one';
    
}
.nav-lists{
    display: flex;
}
.nav-lists li{
    position: relative;
}
.nav-lists a{
    padding: 10px 20px;
    font-weight: 300px;
    font-size: 1rem;
    color: var(--text-color);
    font-family: 'Poppins';
}
.nav-lists a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.nav-lists a:hover::after{
    width: 100%;
}
#menu-icon{
    color: var(--text-color);
    display: none;
    cursor: pointer;
    z-index: 1001;
    font-size: 26px;
}
.h-btn a{
    font-weight: 500;
    font-family: 'Poppins';
    padding: 8px 26px;
    color: var(--text-color);
    transition: ease .40s;
    border: 2px solid transparent;
}
.h-btn .sign-in{
   color: var(--text-color);
   background: var(--main-color);
   border-radius: 30px;
   
}

.h-btn .sign-in:hover{
     background: transparent;
     border: 2px solid var(--main-color);
}

section{
    padding: 120px 16%;
}

.home{
    height: 100vh;
    width: 100%;
    background: url(IMG/Brice8.jpg);
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}
.home-text{
    padding-top: 120px;
}
.home-text h1{
     font-size: var(--big-font);
     color: var(--text-color);
     line-height: 1.11;
     font-weight: 800;
     letter-spacing: 15px;
     margin: 0px 0px 25px;
     font-family: 'Kenia';
}
.home-text h4{
    color: var(--text-color);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 40px;
    line-height: 1.21;
    Font-family: 'Poppins';
    letter-spacing: 10px;
    
    
}

.god{
    font-family: 'Kenia';
    font-size: 4.7rem;
    
}
.btn{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    padding:16px 33px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 30px;
    border: 2px solid transparent;
    font-family: 'Poppins';
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: ease .30s;
}

.btn:hover{
    transform: translate(-10px); /*the hover button moves around*/
    background: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}
.about{
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    grid-gap: 2rem;
}
.about-img img{
    max-width: 100%;
    width: 490px;
    height: auto;
}

.art{
    font-family: 'poppins';
    color: var(--secound-color);
    
}

.about-text h2{
     font-size: var(--h2-font);
     color: var(--main-color);
     font-weight: 700;
     line-height: 1.8rem;
     margin-bottom: 1.5rem;
}



.about-text h5{
    color: var(--secound-color);
    font-size:1.3rem;
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.about-text p{
    font-size: var(--p-font);
    color: var(--secound-color);
    font-weight: 400;
    color: var(--other-color);
    max-width: 570px;
    line-height: 1.8;
    margin-bottom: 2.5rem;
}

.songs{
    background: var(--secound-bg-color);

}
.heading{
    text-align: center;
}
.heading h6{
    font-size: 25px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
    line-height: 1;
}
.heading h2{
    font-size: var(--h2-font);
    color: var(--secound-color);
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1.6rem;
}
.heading p{
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 1.8;
    color:var(--other-color);
}
.song-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.4rem;

}
.box{
 background: var(--bg-color);
  padding: 45px 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .35s;
  
}
.box i{
    color: var(--main-color);
    font-size: 2.8rem;
    margin-bottom: 18px;
}

.box h3{
font-size: 22px;
font-weight: 600;
margin-bottom: 15px;
}
.box p{
    color: var(--other-color);
    font-size: 16px;
    line-height: 30px;
}
.box:hover{
    box-shadow: 0px 20px 30px rgb(55 7 23 / 7%);
}
img {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
  }
.socials{
    background: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.socials h2{
    color: var(--text-color);
    font-size: 1.9rem;
}
.socials .newslatter{
    background: var(--bg-color);
    margin-top: 1rem;
    border-radius: 30px;
    padding: 4px 10px;
    max-width: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.socials .newslatter input{
    border: none;
    outline: none;

}
.socials .newslatter .cta{
    background: var(--main-color);
    color: var(--text-color);
    padding: 8px 20px;
    border-radius: 30px;
}

    


.copyright{
    background: var(--bg-color);
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.copyright p{
    font-size: 14px;
    font-weight: 500;
    color: var(--other-color);
}
.icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    color: var(--text-color);
    font-size: 1.2rem;
    border-radius: 50%;
    transition: all .40s;

}
.icons a:hover{
    transform: translate(-5px);
}
@media (max-width:1380px){
    header{
        padding:18px 2%;
        transition: .2s;
    }

    section{
   padding: 80px 2%;
   transition: .3s;
}
:root{
    --big-font:4.7rem;
    --h2-font: 1.2rem;
}
.home-text h4{
     font-size: 1.2rem;
}
}
@media (max-width: 1120px){
     header{
        padding: 14px 2%;
     }
     .home{
        height:85vh;
     }
     #menu-icon{
        display: block;
     }
     .sign-up{
        display: none;
     }
     .nav-lists{
        position: absolute;
        top: -600px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        text-align: left;
        transition: all .35s ease;
     }
     .nav-lists a{
        display: block;
        padding: 1rem;
        margin: 1.2rem;
        border-left: 2px solid var(--text-color);

     }
     .nav-lists a:hover{
        background: var(--text-color);
        color: var(--secound-color);
        border: none;
     }
     .nav-lists a::after{
        display: none;
     }
     .nav-lists.active{
          top: 100%;
     }
}
@media (max-width: 770px){
    .about{
        grid-template-columns: 1fr;

    }
    .about-img{
        text-align: center;
        margin-bottom: 40px;

    }
    .socials{
        text-align: center;

    }
    .socials h2{
        font-size: 1.4rem;
    }
    .copyright{
        justify-content: center;
        text-align: center;
    }
    .copyright p{
        margin-bottom: 50px;
    }
    .icons a{
        margin-left: 10px;
    }
}
@media (max-width: 750px){
    :root{
        --big-font:3.5rem;
        --h2-font: 1.9rem;
        --p-font: 0.9rem;
    }
}
@media (max-width: 630px){
    section{
        padding:90px 4%;
    }
    header{
        padding: 14px 4%;
    }
    :root{
        --big-font:3.2rem;
        --h2-font: 1.8rem;
        --p-font: 0.9rem;
    }
    .home-text h4{
        font-size: 1.2rem;
    }
}
